.sidebyside {

}

.sidebyside_left,
.sidebyside_right {background: #fbfbfb;}

.sidebyside_left {
    margin-bottom: 2px;
}

.sidebyside_right {
    padding: 20px 24px 2px;
}

.sidebyside_right > * {margin-bottom: 22px;}

@media (min-width: 768px) {

    .sidebyside_right {
        display: flex;
        padding: 25px 26px 27px;
    }
    
    .sidebyside_right > * {margin-left: 16px;}
}

@media (min-width: 1200px) {
    .sidebyside {
        display: flex;
    }

    .sidebyside_left {
        margin-bottom: 0;
        margin-right: 2px;
        width: 40%;
        flex: none;
    }

    .sidebyside_right {width: 100%;}
}