.seeMore {
    position: relative;
    height: 140px;
    background: #fbfbfb;
}

.seeMore_wrapper {
    height: 100%;
    padding: 10px 9px 32px;
    overflow: hidden;
    position: relative;
    background: inherit;
    transition: height 0.5s ease;
    z-index: 5;
}
.seeMore_wrapper::after {
    content: "";
    /* height: 42px; */
    height: 32px;
    width: 100%;
    background: #fbfbfb;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 0.3s ease;
}
.seeMore_wrapper.is-open::after {height: 0;}

.overlay-seemore {
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 47, 34, 0.5);
    pointer-events: none;
    opacity: 0;
    z-index: 4;
    transition: opacity 1s ease, width 0s ease 1s;
}

.seeMore_wrapper.is-open + .overlay-seemore {
    width: 100%;
    opacity: 1;
    pointer-events: initial;
    transition: opacity 1s ease;
}

.seeMore_indicator {
    position: absolute;
    right: 18px;
    bottom: 14px;
    z-index: 1;
    font-family: 'faktum', monospace;
    font-weight: 600;
    font-size: 10px;
    color: #004237;
    opacity: 0.8;
    cursor: pointer;
    padding: 6px;
    
}
.seeMore_indicator::before {
    content: "+" attr(data-hiddenItems);
    margin-right: 6px;
}
.seeMore_indicator span {text-transform: uppercase;}
.seeMore_indicator span:last-of-type {display: none;}

.seeMore_wrapper.is-open .seeMore_indicator span:first-of-type {display: none;}
.seeMore_wrapper.is-open .seeMore_indicator::before {display: none;}
.seeMore_wrapper.is-open .seeMore_indicator span:last-of-type {display: block;}

@media (max-width: 767.98px) {
    .seeMore_wrapper .checkBtn {margin: 10px 0 10px calc((100% - 291px) / 4);}
}

@media (min-width: 768px) {
    /* .seeMore_wrapper {padding-right: calc(100% - 440px);} */
    .seeMore_wrapper {
        padding-left: 21px;
        padding-right: calc(100% - 450px);
    }
    
}

@media (min-width: 1200px) {
    .seeMore {min-height: 100%;}

    .seeMore_wrapper {
        padding-top: 13px;
        padding-right: calc(100% - 470px);
    }
}