
/* .listingTable thead {display: none;} */
.table_header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

@media (min-width: 768px) {
    .table_header {padding:0;}
}

@media (min-width: 1200px) {
    .table_header {padding: 0 12px 0 6px;}
}

/* .table_wrapper {overflow-x: hidden;} */

.dataTables_wrapper {z-index: 0;}

.listingTable {
    font-size: 14px;
    font-weight: 500;
    color: #1d1d1c;
}

@media (max-width: 767.98px) {
    .listingTable thead {
        opacity: 0;
        pointer-events: none;
        font-size: 0;
    }
    .listingTable thead th {
        max-width: 1px !important;
        overflow: hidden !important;
    }
    .listingTable tbody {transform: translateY(-40px);}
}

.listingTable tbody tr {
    position: relative;
    background: none !important;
}

.listingTable.dataTable.no-footer {border-bottom: 0;}

th {
    background: #f7f7f7 !important;
    border: 0 !important;
    color: #9a9a9a;
    font-family: 'faktum', monospace;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding-left: 0 !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}

th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}

.listingTable tbody td:first-child {position: relative;}

.listingTable td:not(.child) {padding: 8px 0 0 !important;}
.listingTable tbody tr:first-child td {padding-top: 0px !important;}

.listingTable td > * {
    background: white;
}

.listingTable tbody td:last-child  > *{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.listingTable tbody td:first-child  > *{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.listingTable td:not(.child) > * {
    display: flex;
    align-items: center;
    height: 115px;
    padding-top: 50px;
}

.listingTable td.child ul{
    padding: 0 0 0 16px;
}

.listingTable .dtr-title {
    margin-bottom: 6px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {content: none;}

.listingTable .user {font-weight: 600;}

.listingTable .user div {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 5px;
    transform: translateY(-2px);
}

.listingTable .iconText {min-width: 42px;}

.listingTable .iconText div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: white;
    line-height: 14px;
}

.listingTable .price {min-width: 148px;}

.listingTable .price > span {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 14px;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ececec;
    margin-right: 8px;
    flex: none;
}

.listingTable .price_text {
    display: flex;
    flex-direction: column;
    color: #004237;
    font-weight: 600;
}

.listingTable .price_text small {
    font-size: 12px;
    font-weight: 500;
    color: #868686;
}

.listingTable .price_text small strong {
    font-weight: 700;
    color: #3cc13f;
}

.listingTable .limits {min-width: 127px;}


@media (min-width: 768px) {
    .listingTable td:not(.child) {padding-top: 12px !important;}

    .listingTable td:not(.child) > * {
        height: 104px;
        padding-top: 27px;
    }

    .listingTable .iconText div {
        height: 28px;
        width: 28px;
        margin-right: 12px;
    }
    
    .listingTable .price > span {
        height: 28px;
        width: 28px;
        margin-right: 12px;
    }

    .listingTable .price_text {font-size: 18px;}

    .listingTable .price_text small {
        font-size: 14px;
        margin-top: 3px;
    }

    .listingTable td {padding: 0 0 12px !important;}

    .listingTable tbody {transform: translateY(8px);}
}

thead th:last-child::after {
    border-top-right-radius: 10px;
}

@media (min-width: 1200px) {

    .dataTables_wrapper {max-height: 720px;}

    .listingTable td:not(.child) > * {
        height: 94px;
        padding-top: 0;
    }

    .listingTable tbody td > * {padding-left: 24px;}

    /**Row hover effect**/

    table.dataTable tbody tr {transition: box-shadow 0.3s ease;}

    table.dataTable tbody tr:hover {box-shadow: 0 4px 12px 0 rgba(0, 66, 55, 0.18);}
}


@media (max-width: 767.98px) {
    th.th-mobile-hide {
        font-size: 0 !important;
        background-image: none !important;
        pointer-events: none !important;
        padding: 0 !important;
    }
    td.td-mobile-absolute {padding: 0 !important;}
    td.td-mobile-absolute > * {
        position: absolute !important;
        left: 16px !important;
        bottom: 69px !important;
        height: auto !important;
        padding: 0 !important;
        white-space: nowrap !important;
        background: none !important;
    }
    .listingTable tbody td:not(.td-mobile-absolute):first-child {padding-left: 16px;}
    .listingTable tbody td:not(.td-mobile-absolute):first-child > * {justify-content: flex-start;}
    .listingTable tbody td.td-mobile-absolute:first-child + td > * {justify-content: flex-start;}
    .listingTable tbody td:last-child > * {justify-content: flex-end;}
    .listingTable tbody td.td-mobile-absolute + td > * {
        padding-left: 16px;
        min-width: 58px;
    }
    .listingTable tbody td:last-child > * { padding-right: 16px; }
    th.td-mobile-absolute:first-child + th {
        border-top-left-radius: 10px;
    }
    th:not(.td-mobile-absolute):first-child {padding-left: 16px !important;}
    th.td-mobile-absolute:first-child + th {padding-left: 16px !important;}

    thead th:first-child::after,
    thead th.th-mobile-hide:first-child + th::after {
        border-top-left-radius: 10px;
    }

    .listingTable tbody td.td-mobile-absolute:first-child + td > * {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

}
@media (min-width: 768px) and (max-width: 1199.98px) {
    th.th-tablet-hide {
        font-size: 0 !important;
        background-image: none !important;
        pointer-events: none !important;
        padding: 0 !important;
    }
    td.td-tablet-absolute {padding: 0 !important;}
    td.td-tablet-absolute > * {
        position: absolute !important;
        left: 16px !important;
        bottom: 67px !important;
        height: auto !important;
        padding: 0 !important;
        white-space: nowrap !important;
        background: none !important;
    }
    .listingTable tbody td:not(.td-tablet-absolute):first-child {
        padding-left: 16px;
    }
    .listingTable tbody td.td-tablet-absolute + td > * {
        padding-left: 16px;
        min-width: 58px;
    }
    .listingTable tbody td:not(.td-tablet-absolute):first-child > * {justify-content: flex-start;}
    .listingTable tbody td.td-tablet-absolute:first-child + td > * {justify-content: flex-start;}
    .listingTable tbody td:last-child > * {justify-content: flex-end;}
    .listingTable tbody td:last-child > * { padding-right: 16px; }
    th.td-tablet-absolute:first-child + th {
        border-top-left-radius: 10px;
    }
    th:not(.td-tablet-absolute):first-child {padding-left: 16px !important;}
    th.td-tablet-absolute:first-child + th {padding-left: 16px !important;}

    th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    thead th:first-child::after,
    thead th.th-tablet-hide:first-child + th::after {
        border-top-left-radius: 10px;
    }

    .listingTable tbody td.td-tablet-absolute:first-child + td > * {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    #content {overflow-y: auto !important;}
}
@media (min-width: 1200px) {
    th.th-desktop-hide {
        font-size: 0 !important;
        background-image: none !important;
        pointer-events: none !important;
        padding: 0 !important;
    }
    td.td-desktop-absolute {padding: 0 !important;}
    td.td-desktop-absolute > * {
        position: absolute !important;
        left: 16px !important;
        bottom: 65px !important;
        height: auto !important;
        padding: 0 !important;
        white-space: nowrap !important;
        background: none !important;
    }
    th.td-desktop-absolute:first-child + th {
        border-top-left-radius: 10px;
    }
    .listingTable tbody td:not(.td-desktop-absolute):first-child > * {justify-content: flex-start;}
    .listingTable tbody td.td-desktop-absolute:first-child + td > * {justify-content: flex-start;}
    .listingTable tbody td:last-child > * {
        justify-content: flex-end;
        padding-right: 24px;
    }

    .listingTable tbody td.td-desktop-absolute:first-child + td > * {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    th:not(.td-desktop-absolute) {padding-left: 24px !important}
    
    th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    thead th:first-child::after,
    thead th.th-desktop-hide:first-child + th::after {
        border-top-left-radius: 10px;
    }
    

}